<div class="container" *ngIf="!!form">
    <div class="row mt-2">
        <div class="card mb-4">
            <div class="card-header">
                <h5> Calculate </h5>
            </div>
            <div class="card-body">
                <form [formGroup]="form" (ngSubmit)="submit()">
                    <div class="row">
                        <label for="dynamicActionId">Action</label>
                        <select class="browser-default custom-select" id="dynamicActionId"
                            formControlName="dynamicActionId" placeholder="User"
                            [ngClass]="{'is-invalid': !form.controls['dynamicActionId'].valid && form.controls['dynamicActionId'].touched}"
                            class="form-control">
                            <option *ngFor="let dynamicAction of (actions$ | async)" [ngValue]="dynamicAction.id">{{
                                dynamicAction.name }}</option>
                        </select>
                    </div>
                    <div class="row">
                        <label for="x">X</label>
                        <input type="text"
                            [ngClass]="{'is-invalid': !form.controls['x'].valid && form.controls['x'].touched}"
                            class="form-control" id="x" formControlName="x" placeholder="X">
                    </div>
                    <div class="row">
                        <label for="y">Y</label>
                        <input type="text"
                            [ngClass]="{'is-invalid': !form.controls['y'].valid && form.controls['y'].touched}"
                            class="form-control" id="y" formControlName="y" placeholder="Y">
                    </div>
                    <div class="row mt-2">
                        <div class="col-12">
                            <button type="submit" class="btn btn-block btn-lg  btn-success" [disabled]="!form.valid">
                                {{ 'Calculate' }}</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <div class="row mt-2" *ngIf="!!result">
        <div class="card mb-4">
            <div class="card-header">
                <h5> Result </h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-5">
                        <p class="mb-0">Result</p>
                    </div>
                    <div class="col-sm-7">
                        <p class="text-muted mb-0">{{result.result}}</p>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-sm-5">
                        <p class="mb-0">Last Month</p>
                    </div>
                    <div class="col-sm-7">
                        <p class="text-muted mb-0">{{result.lastMonth}}</p>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-sm-5">
                        <p class="mb-0">Avg</p>
                    </div>
                    <div class="col-sm-7">
                        <p class="text-muted mb-0">{{result.avg}}</p>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-sm-5">
                        <p class="mb-0">Max</p>
                    </div>
                    <div class="col-sm-7">
                        <p class="text-muted mb-0">{{result.max}}</p>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-sm-5">
                        <p class="mb-0">Max</p>
                    </div>
                    <div class="col-sm-7">
                        <p class="text-muted mb-0">{{result.max}}</p>
                    </div>
                </div>
                <hr />
            </div>
        </div>
    </div>
</div>